
@media screen and (max-width: 1000px){
    .main-wrapper main .album-covers .cover{
        width: calc(100% / 3);
        padding: 10px;
    }
}

@media screen and (max-width: 714px){

    /* MAIN BOX */

    .main-wrapper aside{
        width: 40px;
    }
     
    .main-wrapper header{
        width: calc(100% - 40px);
    }

    .main-wrapper main{
        width: calc(100% - 40px);
    }
    
    /* NAVBAR */
    .main-wrapper aside .box-top .playlist,
    .main-wrapper aside .box-top .navbar ul li span,
    .main-wrapper aside .box-bottom .profile-box .download span,
    .main-wrapper aside .box-bottom .profile-box .account span{
        display: none;
    }

    .main-wrapper aside .box-top,
    .main-wrapper aside .box-bottom{
    padding: 0 7px;
    flex-direction: column;
    } 

    #logo-big{
        content: url(../img/logo-small.svg);
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .main-wrapper aside .box-bottom .profile-box .download{
        border: 0;
        padding-left: 5px;
    }

    /* FOOTER */

    footer{
        justify-content: center;
    }

    footer .footer-right i{
        padding: 1px;
    }

    footer .footer-left .options i{
        padding: 0 1px;
    }

    footer .footer-middle .player-top i{
        padding: 0 5px;
    }

    footer .footer-right .icons :last-child{
        display: none;
    }
   
}

@media screen and (max-width: 650px){

    /* ELIMINO CONTROLLO VOLUME */

    footer .footer-right #my2Bar{
        display: none;
    }

    .main-wrapper main .album-covers .cover{
        width: calc(100% / 2);
        padding: 10px;
    }
}