*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITY */

.d-flex{
    display: flex;
}

.debug{
    height: 50px;
    width: 50px;
    background-color: firebrick;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ASIDE */

.main-wrapper aside{
    width: 230px;
    background-color: black;
    overflow: auto;
    height: calc(100vh - 90px);
    flex-direction: column;
    justify-content: space-between;
}

#logo-big{
    width: 150px;
    padding: 25px 0;
}

/* NAVBAR */

.main-wrapper aside .box-top,
.main-wrapper aside .box-bottom{
    padding: 0 20px;
    flex-direction: column;
}

.main-wrapper aside .box-top .navbar ul img{
    width: 25px;
    vertical-align: middle;
}

.main-wrapper aside .box-top .navbar ul{
    list-style: none;
}

.main-wrapper aside .box-top .navbar ul li{
    padding: 5px 0;
    color: grey;
}

.main-wrapper aside .box-top .navbar ul li span{
    display: inline-block;
    cursor: pointer;
}

.main-wrapper aside .box-top .navbar ul li span:hover{
    color: white;
}

.main-wrapper aside .box-top .navbar ul li span{
    font-size: 0.8rem;
    font-weight: bold;
    margin-left: 4px;
}

/* PLAYLIST */

.main-wrapper aside .box-top .playlist h4{
    color: white;
    padding-top: 20px;
}

.main-wrapper aside .box-top .playlist ul{
    list-style: none;
}

.main-wrapper aside .box-top .playlist ul li{
    color: grey;
    padding: 10px 0;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.main-wrapper aside .box-top .playlist ul li:hover{
    color: white;
}

.main-wrapper aside .box-top .playlist ul :first-child{
    font-size: 1.1rem;
}

#plus{
    color: grey;
    font-size: 2.5rem;
    vertical-align: middle;
    padding-right: 3px;
}

/* PROFILE */

.main-wrapper aside .box-bottom .profile-box .download{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    cursor: pointer;
}

.main-wrapper aside .box-bottom .profile-box .download img{
    width: 18px;
    vertical-align: middle;
    padding-right: 3px;
}

.main-wrapper aside .box-bottom .profile-box .download span{
    font-weight: bold;
    font-size: 0.8rem;
    color: grey;
}

.main-wrapper aside .box-bottom .profile-box .download span:hover{
    color: white;
}

.main-wrapper aside .box-bottom .profile-box .account{
    padding: 10px 0;
}

.main-wrapper aside .box-bottom .profile-box .account img{
    width: 25px;
    background-color: grey;
    height: 25px;
    border-radius: 50%;
    vertical-align: middle;
}

.main-wrapper aside .box-bottom .profile-box .account span{
    color: white;
    display: inline-block;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    padding-left: 3px;
}

/* HEADER */

.main-wrapper header{
    background-color: rgba(0, 0, 0, .8);
    height: 75px;
    position: fixed;
    right: 0;
    top: 0;
    width: calc(100% - 230px);
}

.main-wrapper header a{
    float: right;
    margin: 15px 20px;
    padding: 10px 30px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    border: 2px solid white;
    border-radius: 50px;
}

.main-wrapper header a:hover{
    font-size: 0.85rem;
}

.main-wrapper main{
    background-color: aquamarine;
    width: calc(100% - 230px);
    height: calc(100vh - 90px);
    padding: 90px 20px 20px 20px;
    overflow: auto;
}

/* FOOTER */


footer{
    height: 90px;
    background-color: #282828;
    justify-content: space-between;
    align-items: center;
}

/* FOOTER LEFT */

footer .footer-left{
    align-items: center;
    justify-content: space-between;
}

footer .footer-left img{
    width: 70px;
    object-fit: cover;
    padding-left: 10px;
}

footer .footer-left .album{
    align-items: center;
    cursor: pointer;
}

footer .footer-left .album .text{
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

footer .footer-left .album .text :first-child{
    color: white;
}

footer .footer-left .album .text :last-child,
footer .footer-left .options{
    color: grey;
}

footer .footer-left .album .text :last-child:hover{
    text-decoration: underline;
}

footer .footer-left .options i{
    padding: 0 10px;
}

footer .footer-left .options i:hover{
    color: white;
    cursor: pointer;
}

/* FOOTER MIDDLE */

footer .footer-middle .player-top{
    text-align: center;
    min-width: 214px;
}

footer .footer-middle .player-top i{
    color: white;
    font-size: 1.3rem;
    padding: 0 10px;
    cursor: pointer;
}

footer .footer-middle .player-top i:hover{
    font-size: 1.5rem;
}

footer #play{
    font-size: 1.8rem;
}

footer #play:hover{
    font-size: 2rem;
}

footer .footer-middle .player-bottom{
    padding-top: 10px;
    align-items: center;
}

footer .footer-middle .player-bottom span{
    font-weight: bold;
    font-size: 0.7rem;
    color: white;
    padding: 0 15px;
}

footer .footer-middle .player-bottom hr{
    width: 20vw;
    height: 5px;
    background-color: #5A5A5A;
    border: 0;
    border-radius: 2px;
    border-left: 60px solid #C1C1C1;
    cursor: pointer;
}

footer .footer-middle .player-bottom hr:hover{
    border-left: 60px solid greenyellow;
}

/* FOOTER RIGHT */

footer .footer-right{
    padding-right: 10px;
    min-width: 145px;
}

footer .footer-right i{
    color: white;
    padding: 8px;
    font-size: 0.8rem;
    cursor: pointer;
}

footer .footer-right .bar hr{
    width: 5vw;
    height: 5px;
    background-color: #5A5A5A;
    border: 0;
    border-radius: 2px;
    border-left: 30px solid #C1C1C1;
    cursor: pointer;
}

footer .footer-right .bar hr:hover{
    border-left: 30px solid greenyellow;
}

footer .footer-right .bar{
    align-items: center;
}
